.ico-gauge-line {
  background: url("/modules/strive-fantasy-module/presentation/image/gauge-line.svg");
  background-size: cover;
}

.ico-magic-overheat-cold-solid {
  background: url("/modules/strive-fantasy-module/presentation/image/magic-overheat-cold-solid.svg");
  background-size: cover;
}

.ico-magic-overheat-smoldering-solid {
  background: url("/modules/strive-fantasy-module/presentation/image/magic-overheat-smoldering-solid.svg");
  background-size: cover;
}

.ico-magic-overheat-broiling-solid {
  background: url("/modules/strive-fantasy-module/presentation/image/magic-overheat-broiling-solid.svg");
  background-size: cover;
}

.ico-magic-overheat-consuming-solid {
  background: url("/modules/strive-fantasy-module/presentation/image/magic-overheat-consuming-solid.svg");
  background-size: cover;
}
