.ico-gauge-line {
  background: url("/modules/strive-fantasy-module/presentation/image/gauge-line.svg");
  background-size: cover;
}

.ico-arcane-overheat-cold-solid {
  background: url("/modules/strive-fantasy-module/presentation/image/arcane-overheat-cold-solid.svg");
  background-size: cover;
}

.ico-arcane-overheat-smoldering-solid {
  background: url("/modules/strive-fantasy-module/presentation/image/arcane-overheat-smoldering-solid.svg");
  background-size: cover;
}

.ico-arcane-overheat-broiling-solid {
  background: url("/modules/strive-fantasy-module/presentation/image/arcane-overheat-broiling-solid.svg");
  background-size: cover;
}

.ico-arcane-overheat-consuming-solid {
  background: url("/modules/strive-fantasy-module/presentation/image/arcane-overheat-consuming-solid.svg");
  background-size: cover;
}

.ico-arcane-slag {
  background: url("/modules/strive-fantasy-module/presentation/image/arcane-slag.svg");
  background-size: cover;
}
